@charset "utf-8";.-dress_pp028mission .b-both_diff .column .c-img img {border-radius:400px;}.-dress_pp028mission.b-both_diff .column .c-img img {border-radius:400px;}/* created version 9.00*/
/*
     FILE ARCHIVED ON 12:10:24 Aug 29, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:36:18 Jun 17, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.213
  exclusion.robots: 0.106
  exclusion.robots.policy: 0.09
  esindex: 0.02
  cdx.remote: 23.086
  LoadShardBlock: 87.627 (3)
  PetaboxLoader3.datanode: 74.902 (4)
  PetaboxLoader3.resolve: 185.334 (2)
  load_resource: 186.759
*/
