@charset "utf-8";.-dress_pp028menu .b-headlines {margin-top:-130px;}.-dress_pp028menu.b-headlines {margin-top:-130px;}@media only screen and (max-width: 641px) {.-dress_pp028menu .b-headlines {margin-top:-50px;}.-dress_pp028menu.b-headlines {margin-top:-50px;}.-dress_pp028menu .a-main .c-lead {font-size:11px;}}/* created version 9.00*/
/*
     FILE ARCHIVED ON 12:10:24 Aug 29, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:35:53 Jun 17, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.059
  exclusion.robots: 0.123
  exclusion.robots.policy: 0.108
  esindex: 0.013
  cdx.remote: 46.489
  LoadShardBlock: 207.651 (3)
  PetaboxLoader3.datanode: 242.154 (4)
  PetaboxLoader3.resolve: 135.32 (2)
  load_resource: 182.87
*/
