@charset "utf-8";.-dress_pp028map .b-both_diff .column.-col4 {background-color:#ffffff;border-radius:16px;padding:25px;box-shadow:1px 1px 10px rgba(0, 0, 0, 0.02);}.-dress_pp028map.b-both_diff .column.-col4 {background-color:#ffffff;border-radius:16px;padding:25px;box-shadow:1px 1px 10px rgba(0, 0, 0, 0.02);}.-dress_pp028map .c-img img {padding-bottom:15px;}.-dress_pp028map .c-body {font-size:12px;}/* created version 9.00*/
/*
     FILE ARCHIVED ON 12:10:24 Aug 29, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:35:33 Jun 17, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.033
  exclusion.robots: 0.12
  exclusion.robots.policy: 0.103
  esindex: 0.013
  cdx.remote: 25.995
  LoadShardBlock: 391.03 (3)
  PetaboxLoader3.datanode: 360.431 (4)
  PetaboxLoader3.resolve: 127.896 (2)
  load_resource: 107.07
*/
